
/* MISC */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #110133;
  color: #B5FFD9;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}
.section-title{
  margin-top: 15px;
  font-size: 2rem;
}
.name {
  font-size: 3.5rem;
}
#web-skills, #projects, #about {
  max-width: 75%;
  min-height: 300px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #170055;
  border-radius: 20px;
  border: #3E00FF 3px solid;
}
/* HEADER */
header {
  max-width: 75%;
  margin: auto;
}
.hero {
  max-height: 50%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic{
  max-height: 25vh;
  object-fit: contain;
  border-radius: 20px;
  margin: 25px 0;
}

/* FLEX ITEMS */
.flex-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

/* SKILLS */
.vertical {
  min-height: 160px; 
  width:0;
  border:1px solid #3E00FF;
}
.horizontal {
  display: none;
}

/* PROJECTS */
.flex-project {
  display: flex;
  width: 100%;
  min-height: 200px;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 0;
}

.project-preview {
  height: 100%;
  min-width: 100px;
  max-width: 30%;
  flex-grow: 1;
}
.project-img {
  max-width: 100%;
}
.project-description {
  height: 100%;
  min-width: 100px;
  max-width: 60%;
  flex-grow: 2;
}


/* ABOUT */
.row-wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  width: 40%;
  margin: 25px 0 50px;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.box img {
  max-width: 100%;
  max-height: 300px;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    text-align: center;
  }
  /* PROJECTS */
  .flex-project {
    flex-direction: column;
  }
  .project-preview {
    max-width: 75%;
    margin-bottom: 15px;
  }
  .project-description {
    max-width: 75%;
  }
  /* ABOUT */
  .row-wrap {
    flex-direction: column;
  }
  .box {
    width: 75%;
  }
}
@media screen and (max-width: 425px) {
  header {
    max-width: 100%;
    }

  /* SKILLS */
  .flex-container {
    flex-direction: column;
  }
  .vertical {
    display: none;
  }
  .horizontal {
    display: inline;
    width: 75%;
    border:1px solid #3E00FF;
  }
  .flex-col {
    margin: 25px 0;
  }
  #web-skills .section-title {
    text-align: center;
  }
}